@use 'src/styles/mixins.scss' as *;

.multiselect {
  font-family: Arial, sans-serif;
  position: relative;
}

.options {
  position: absolute;
  top: 4.5rem;
  @include card;
  @include box-shadow;
  width: 100%;
  max-height: 200px;
  overflow-x: auto;
  z-index: 2;


  label {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
    padding: .5rem;
    gap: .2rem;
    border-bottom: 1px solid lightgray;

    &:hover {
      background-color: azure;
    }

    input {
      border: none;
      width: fit-content;
    }
  }
}
.selected  {
  border-radius: .2rem;

  &__items {
    min-height: 2rem;
    margin-top: 0.5rem;
    border: 1px solid lightgray;
    padding: 0.5rem;
    display: flex;
    gap: .5rem;
  }
}

