
<form [formGroup]="form" (ngSubmit)="updateContent()">
  <ul formArrayName="content">
    @for (item of contentControls.controls; track item.value.id) {
      <app-accordion-item [label]="contentControls.controls[$index].getRawValue().type">
        <li  [formGroupName]="$index">
          <div class="content">
            <div class="content__heading">
              <label for="">
                <span>Type</span>
                <select formControlName="type">
                  <option value="text">Text</option>
                  <option value="image">Image</option>
                  <option value="video">Video</option>
                </select>
              </label>
              <label for="">
                <span>Position</span>
                <input formControlName="position" type="number">
              </label>
            </div>

            <label for="">
              @switch (contentControls.controls[$index].getRawValue().type) {
                @case ('text') {
                  <span>Desctiption</span>
                  <textarea rows="6" formControlName="data" type="text"></textarea>
                }
                @default {
                  <span>Url</span>
                  <input formControlName="data" type="text">
                }
              }
          </label>
          </div>
          <button (click)="removeContent($index, $event)">Remove {{$index}}</button>
        </li>
      </app-accordion-item>

    }
  </ul>
  <div class="actions">
    <button (click)="addContent($event)">addContent</button>
    <button [disabled]="disabled()" type="submit">Submit</button>
  </div>

</form>
