@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$breakpoints: (
  "xs": 480px,
  "sm": 768px,
  "md": 1024px,
  "lg": 1280px,
  "xl": 1440px
);

@mixin media-breakpoint-up($breakpoint) {
  $width: map-get($breakpoints, $breakpoint);

  @if $width {
    @media (min-width: #{$width}) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in `$breakpoints` map.";
  }
}

@mixin media-breakpoint-down($breakpoint) {
  $width: map-get($breakpoints, $breakpoint);

  @if $width {
    @media (max-width: #{$width}) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in `$breakpoints` map.";
  }
}

$boxShadowOptions: (
  "default": '0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1)',
  "sm": '0 1px 2px 0 rgb(0 0 0 / 0.05)',
  "md": '0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)',
  "lg": '0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1)',
  "xl": '0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1)'
);

@mixin box-shadow($breakpoint: 'default') {
  $size: map-get($boxShadowOptions, $breakpoint);

  @if $size {
    box-shadow: #{$size};
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found in `$breakpoints` map.";
  }
}
