@use 'src/styles/mixins.scss' as *;
@use 'src/styles/variables.scss' as *;

.navbar {
  width: 100%;
  padding: 1rem;
  background-color: $primary-color;

  @include flex-between;
  @include box-shadow;

  ul {
    @include flex-between;
    gap: 15px;

    li {
      color: white;
    }
  }
}
