@use 'src/styles/mixins.scss' as *;

.lesson-questions {
  padding: 1rem;
  @include max-width('md');

  &__heading {
    @include flex-between;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    padding: 0;
    font-size: 0.9rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
